header {
    background-color: rgb(12, 193,224);
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
}
  
.simge {
    width: 50px;
    
    margin-right: 11px;
  }
  
.gitgör {
    margin-right: 10px;
    font-weight: 300;
    font-family: "Helvetica Neue", Arial, sans-serif;
    letter-spacing: -3px;
    font-stretch: condensed;
  }
.başlık{
    font-family:"Helvetica Neue", Arial, sans-serif;
    font-stretch: condensed;
    letter-spacing: -2;
    text-align: center;
}
.resim{
    width: 360px;
    height: 270px;
    border-radius: 20px;
    margin-top: 125px;
}
.resimler figure{
    display: inline-block;
    margin-right: 10px; 
    margin-top: 120px;
}
button{
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 12px;
    width: 100px;
    height: 45px;
    background-color: rgb(43, 145, 145);
    border-color:  rgb(44, 218, 218);
}
figcaption{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
